*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*** Variables ***/
:root{
        /* Backgrounds colors */
    --header-background: linear-gradient(33deg, rgba(235,255,111,1) 25%, rgba(255,178,111,1) 53%, rgba(218,88,59,1) 100%);
    --main-background: linear-gradient(33deg, rgba(235,255,111,1) 45%, rgba(255,178,111,1) 100%);
    --main-mobile-background: linear-gradient(33deg, rgba(235,255,111,1) 70%, rgba(255,178,111,1) 100%);
    --regBtn-background: linear-gradient(33deg, rgba(235,255,111,1) 1%, rgba(255,178,111,1) 53%);

        /* Borders modeling */
    --principal: greenyellow;
    --secondary: lightblue;
    --tertiary: violet;
    --quaternary: blue;
    --model: red;

    --principal: transparent;
    --secondary: transparent;
    --tertiary: transparent;
    --quaternary: transparent;
    --model: transparent;

        /* Colors */
    --linksNav: lightyellow;
    --linksNavHover: rgba(235,255,111,1);
    --titles: tomato;
    --paragraphs: lightsalmon;
    --strongs: rgba(218,88,59,1);
    --cardsBackground: rgba(255,178,111,1);
}

/*** Animates ***/
@keyframes mainAnimate {
    50%{
        margin-top: 50px;
    }
    100%{
        margin-top: 0px;
    }
}
@keyframes mainAnimateTablets {
    33.33%{
        margin-right: 50px;
    }
    66.66%{
        margin-left: 50px;
    }
    100%{
        margin-left:0px;
    }
}

/*** Generics ***/
h1{
    color: var(--titles);
    font-size: 40px;

    border: 1px solid var(--secondary);
}
h2{
    color: var(--titles);
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    border: 1px solid var(--tertiary);
}
h3{
    color: var(--strongs);
}
p{
    color: var(--paragraphs);
    font-size: 15px;
    border: 1px solid var(--tertiary);
    text-align: center;
}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 5px;
    list-style-type: none;
    
    /* border: 1px solid var(--terceary); */
    border-bottom: 1px solid transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
li:hover{
    border-bottom: 1px solid rgba(235,255,111,1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
a{
    font-size: 20px;
    color: var(--linksNav);
    text-decoration: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    /* border: 1px solid blue; */
}
li:hover a{
    color: var(--linksNavHover);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.titles{
    /* border-radius: 20px 100px 20px 100px; */
    /* background: linear-gradient(33deg, rgba(235,255,111,1) 5%, rgba(255,178,111,1) 33%, rgba(218,88,59,1) 100%); */
    text-align: center;
    font-size: 40px;
    color: var(--titles);
    /* line-height: 70px; */
}
.error{
    color: var(--strongs);
}
.success{
    color: rgb(207, 241, 81);
}

/*** Header ***/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;

    border-radius: 0px 0px 30% 0px;
    background: var(--header-background);
}
.header__Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;

    border: 1px solid var(--principal);
}
.header__Nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 500px;

    border: 1px solid var(--principal);
}
.header__Nav--Sections{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 250px;
    height: 50px;

    border: 2px solid var(--secondary);
}
.cardStatus{
    display: none;
}
.header__Nav--Login{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 250px;
    height: 50px;

    border: 2px solid var(--secondary);
}
.buttonReg{
    width: 100px;
    /* border: 1px solid lightsalmon; */
    box-shadow: 0px 0px 5px var(--strongs);
    border-radius: 23px;
    text-align: center;
    background: var(--regBtn-background);
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}
.buttonReg:hover{
    box-shadow: 0px 0px 5px var(--linksNavHover);
    border-bottom: 0px transparent;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.buttonReg a{
    color: var(--strongs);
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;

    margin-bottom: 1px;
}
.buttonReg:hover a{
    color: var(--linksNav);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.buttonSign:hover{
    border-bottom: 0px transparent;
}
.buttonSign a{
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    
    margin-bottom: 1px;
}
.mobileLinks{
    display: none;
}
.header__Nav--User{
    width: 250px;
    height: 50px;
    display:none;

    border: 2px solid var(--secondary);
}
.iconBox{
    border: 1px solid var(--secondary);
    width: 40px;
    height: 40px;
    text-align: center;
}
.header__Nav--User i{
    color: var(--linksNav);
}
.userProfile{
    color: var(--linksNavHover);
    opacity: 0.8;
}
.userMenu{
    display: none;
    width: 70px;
    height: 100px;
    border: none;
    box-shadow: 0px 0px 5px var(--strongs);
    background: var(--regBtn-background);
    border-radius: 10px;
    text-align: center;
}
.userMenu li{
    /* align-content: center; */
    /* border: 1px solid red; */
    width: 70px;
    margin-top: 5px;
    border-bottom: none;
}
.userMenu:hover li{
    border-bottom: none;
}
.signOut{
    font-size: 15px;
    color: var(--strongs);
    /* border: 1px solid blue; */
}

/*** Main ***/
.model1{
    background: var(--main-background);
    height: 500px;
}
.model2{
    height: 500px;
    border: 1px solid var(--model);
    border-radius: 35% 0px 0px 0px;
    background-color: white;
}
.principal{
    /* height: 500px; */
    width: 100vw;

    position: absolute;
    top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--principal);

    /* border-radius: 35% 0px 0px 0px;
    background-color: white; */
}
.principal__Msg{
    height: 200px;
    width: 500px;
    /* margin-right: 50px; */
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid var(--secondary);
}
.principal__Img{
    height: 450px;
    width: 850px;
    margin-top: 0px;
    border: 3px solid var(--secondary);

    animation-name: mainAnimate;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.principal__Img img {
    height: 100%;
    width: 100%;
    border: 1px solid var(--tertiary);
}

        /** Section Register && Sign In **/
.principalRegsig{
    justify-content: space-evenly;
    /* align-items: center; */
}
.principalRegsig__View{
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-content: center; */
    border: 1px solid var(--secondary);
    margin-top: 55px;
}
.principalRegsig__View__Holder{
    width: 500px;
    height: 400px;
    border: 1px solid var(--tertiary);
}
.principalRegsig__View__Holder img{
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
}
#registerContainer, #loginContainer{
    width: 500px;
    height: 450px;
    border: 1px solid var(--secondary);
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.register__Form, .signin__Form{
    border: 1px solid var(--tertiary);
    /* box-shadow: 0px 0px 5px var(--strongs); */
    /* background: var(--header-background);
    opacity: 0.7; */

    width: 400px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.signin__Form{
    height: 300px;
}
label{
    text-align: center;
    display: none;
}
    /* .signin__Form label{
        text-align: center;
        display: none;
    } */
input, select{
    width: 90%;
    height: 40px;
    border-radius: 20px;
    /* border: 1px solid var(--strongs); */
    border: none;
    box-shadow: 0px 0px 5px var(--strongs);
    color: var(--paragraphs);

    text-align: center;
    font-size: 20px;
}
input:focus{
    outline: none;
    border: 1px solid var(--linksNavHover);
    box-shadow: none;
    /* box-shadow: 0px 0px 5px var(--linksNavHover); */
}
    /* .signin__Form input{
        width: 90%;
        height: 40px;
        border-radius: 20px;
        border: 1px solid var(--strongs);
        border: none;
        box-shadow: 0px 0px 5px var(--strongs);
        color: var(--paragraphs);

        text-align: center;
        font-size: 20px;
    }
    .signin__Form input:focus{
        outline: none;
        border: 1px solid var(--linksNavHover);
        box-shadow: none;
        box-shadow: 0px 0px 5px var(--linksNavHover);
    } */
input::placeholder{
    color: var(--paragraphs);
}
    /* .signin__Form input::placeholder{
        color: var(--paragraphs);
    } */   
input::-webkit-calendar-picker-indicator{
    display: none;
}
#btnUser{
    height: 40px;
    border-radius: 20px;
    border: none;
    width: 200px;
    font-size: 20px;
    color: var(--strongs);
    box-shadow: 0px 0px 5px var(--strongs);
    background: var(--regBtn-background);
}
#btnUser:hover{
    color: var(--linksNav);
    box-shadow: 0px 0px 5px var(--linksNavHover);
}
#passwordRescue{
    border: 1px solid var(--quaternary);
}
#passwordRescue p{
    margin-top: 5px;
}
#passwordRescue a{
    color: var(--paragraphs);
    font-size: 15px;
}
#passwordRescue a:hover{
    color: var(--strongs);
}

        /** Section Recovery Pass **/
.principalReco{
    justify-content: center;
}
.principalReco__View{
    margin-top: 55px;
}

        /** Section Card Manager **/
.principalCardman{
    display: block;
    height: 1550px;
    top: 85px;
}
.radio{
    width: 50px;
    height: 20px;
    box-shadow: none;
}
.radioLabel{
    display: inline;
    border: 1px solid var(--quaternary);
    font-size: 20px;
    color: var(--paragraphs);
}
.thirdParty{
    display: none;
}
.cardsUser{
    width: 262.5px;
    height: 150px;
    /* background: var(--paragraphs); */
    background: var(--cardsBackground);
    box-shadow: 0px 1px 5px var(--titles);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.cardsUser__Edges{
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardsMonth, .cardsPurch{
    height: 80px;
    width: 290px;
    box-shadow: 0px 1px 5px var(--strongs);
    background: var(--cardsBackground);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.cardsMonth__Container, .cardsPurch__Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--secondary);
}
.cardsUser p{
    color: var(--strongs);
}
.cardsP{
    text-align: left;
    margin: 3px;
    color: var(--strongs);
}
.remove i{
    color: var(--linksNav);
    border: 1px solid var(--tertiary);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.remove i:hover{
    color: var(--linksNavHover);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.remove{
    border: 1px solid var(--secondary);
    /* margin-top: 2px; */
    /* margin-right: 1px; */
}
/* .removeSelect i{
    color: var(--linksNavHover);
} */
/* .removeSelect:hover i{
    color: var(--cardsBackground)
} */
#btnCardsFac, #btnMonthsFac, #btnPurchsFac{
    width: 150px;
    height: 30px;
    border: none;
    color: var(--strongs);
    box-shadow: 0px 0px 5px var(--strongs);
    background: var(--regBtn-background);
    border-radius: 10px;
    text-align: center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#btnCardsFac:hover, #btnMonthsFac:hover, #btnPurchsFac:hover{
    color: var(--linksNavHover);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.cards, .months, .purchases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--secondary);
}
.cards__Container, .months__Container, .purchases__Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--tertiary);
}
.cards__Form, #cards__Basket, .months__Form, .months__Basket, .purchases__Form, .purchases__Basket{
    width: 400px;
    height: 400px;
    /* border: 1px solid var(--strongs); */
    box-shadow: 0px 1px 5px var(--strongs);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.principalCardman input{
    margin: 10px;
}
.principalCardman select{
    margin: 10px;
}
select{
    text-align-last: center;
}
/* input:-internal-autofill-selected{
    color: red !important;
} */
input:-webkit-autofill{
    -webkit-text-fill-color: var(--paragraphs);
    /* -webkit-background-color: white; */
}

/*** Footer ***/
footer{
    height: 50px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background: var(--header-background);
    border-radius: 50% 50% 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.credits{
    /* padding-top: 15px; */
    color: var(--strongs);
}
.credits__Anch{
    font-size: 12.5px;
    color: var(--paragraphs);
}
.collaborations{
    font-size: 12.5px;
}


/*** Media queries ***/

        /** Query for Small Mobiles **/
@media (max-width:650px){ 
    h1{
        font-size: xx-large;
    }
    
    .header__Logo{
        margin-top: 10px;
        margin-left: 10px;
    }
    .header__Nav{
        width: 270px;
    }
    .header__Nav--Login{
        height: 70px;
        align-items: center;
    }
    .mainLinks, .buttonReg, .buttonSign{
        display: none;
    }
    .mobileLinks{
        display: inline-flex;
    }
    .cardStatusMobile{
        display: none;
    }
    .shellReg{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: var(--regBtn-background);
        box-shadow: 0px 0px 5px var(--strongs);
        text-align: center;
        transition-duration: 0.7s;
        transition-timing-function: ease-in-out;
    }
    .shellReg:hover{
        box-shadow: 0px 0px 5px var(--linksNavHover);
        border-bottom: 0px transparent;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
    .shellReg a{
        margin-bottom: 1px;
    }
    .shellReg i{
        color: var(--strongs);
        transition-duration: 0.7s;
        transition-timing-function: ease-in-out;
    }
    .shellReg:hover i{
        color: var(--linksNav);
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
    .shellSign:hover{
        border: 0px transparent;
    }
    .shellSign a{
        margin-bottom: 1px;
    }
    .shellSign i{
        color: var(--linksNav);
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }
    .shellSign:hover i{
        color: var(--linksNavHover);
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    .model1{
        background: var(--main-mobile-background);
    }
    .principal{
        width: 100vw;
        height: 630px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; 
        border-radius: 190px 0px 0px 0px;
    }
    .principalCardman{
        display: block;
        height: 1550px;
        top: 125px;
    }
    .principal__Img{
        height: 370px;
        width: 500px;
        margin-top: 0px;

        animation: none;
    }
    .principal__Msg{
        margin-right: 0px;
        margin-top: 0px;
    }
    .principalRegsig{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .principalRegsig__View{
        margin-top: 70px;
        height: 50px;
    }
    .regMob{
        margin-top: 0px;
    }
    #loginContainer, #registerContainer{
        margin-top: 0px;
    }
    .principalRegsig__View__Holder{
        display: none;
    }
    .principalReco__View{
        margin-top: 53px;
        height: 450px;
    }
    .recoHolder{
        display: block;
    }
}

        /** Query for Mobiles **/
@media (min-width:650px) and (max-width:768px){
    h1{
        font-size: xx-large;
    }
    
    .header__Logo{
        margin-top: 10px;
        margin-left: 10px;
    }
    .header__Nav{
        width: 270px;
    }
    /* .header__Nav--User{
        display: none;
        
        border: 1px solid var(--secondary);
    } */
    .header__Nav--Login{
        height: 70px;
        align-items: center;
    }
    .mainLinks, .buttonReg, .buttonSign{
        display: none;
    }
    .mobileLinks{
        display: inline-flex;
    }
    .cardStatusMobile{
        display: none;
    }
    .shellReg{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: var(--regBtn-background);
        box-shadow: 0px 0px 5px var(--strongs);
        text-align: center;
        transition-duration: 0.7s;
        transition-timing-function: ease-in-out;
    }
    .shellReg:hover{
        box-shadow: 0px 0px 5px var(--linksNavHover);
        border-bottom: 0px transparent;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
    .shellReg a{
        margin-bottom: 1px;
    }
    .shellReg i{
        color: var(--strongs);
        transition-duration: 0.7s;
        transition-timing-function: ease-in-out;
    }
    .shellReg:hover i{
        color: var(--linksNav);
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
    .shellSign:hover{
        border: 0px transparent;
    }
    .shellSign a{
        margin-bottom: 1px;
    }
    .shellSign i{
        color: var(--linksNav);
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }
    .shellSign:hover i{
        color: var(--linksNavHover);
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    /* main{
        background: var(--main-mobile-background);
    } */
    .model1{
        background: var(--main-mobile-background);
    }
    .principal{
        width: 100vw;
        height: 630px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; 
        border-radius: 190px 0px 0px 0px;
    }
    .principalCardman{
        display: block;
        height: 1550px;
        top: 125px;
    }
    .principal__Img{
        height: 370px;
        width: 640px;
        margin-top: 0px;

        animation: none;
    }
    .principal__Msg{
        margin-right: 0px;
        margin-top: 0px;
    }
    .principalRegsig{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .principalRegsig__View{
        margin-top: 70px;
        height: 50px;
    }
    .regMob{
        margin-top: 0px;
    }
    #loginContainer, #registerContainer{
        margin-top: 0px;
        /* height: 350px; */
    }
    .principalRegsig__View__Holder{
        display: none;
    }
    .principalReco__View{
        margin-top: 53px;
        height: 450px;
    }
    .recoHolder{
        display: block;
    }
}

        /** Query for Tablets **/
@media (min-width:768px) and (max-width:992px){
    h1{
        font-size: xx-large;
    }

    .header__Logo{
        margin-top: 10px;
        margin-left: 10px;
    }
   
    /* main{
        background: var(--main-mobile-background);
    } */
    .model1{
        background: var(--main-mobile-background);
    }
    .principal{
        width: 100vw;
        height: 630px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; 
        border-radius: 190px 0px 0px 0px;
    }
    .principalCardman{
        display: block;
        height: 1550px;
        top: 125px;
    }
    .principal__Img{
        height: 370px;
        width: 750px;
        margin-top: 0px;

        animation-name: mainAnimateTablets;
        animation-duration: 8s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    .principal__Msg{
        margin-right: 0px;
        margin-top: 0px;
    }
    .principalRegsig{
        flex-direction: row;
    }
    .principalRegsig__View, #registerContainer, #loginContainer{
        margin-top: 0px;
    }
    .principalReco__View{
        margin-top: 53px;
    }
}